.navbar {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 10px 100px;
  }

  .navbar-custom {
    background-color: blueviolet;
  }

  body {
    height: 100%;
  }
  
  body {
    background-image: url("Images/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }
 
 h1 {
  color: whitesmoke;
  position: relative;
  top: 300px;
  left: 30px;
  font-size: 20px;
  word-wrap: break-word;
  word-break: break-all;
  }

.badge{ 
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 20px;
    background-color: rgba(61, 37, 75, 0.25);
}
